<div class="mbde">
  <div class="menu">
    <div class="close">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
    </div>
    <div class="options">
      <div class="option"></div>
      <div class="option"></div>
      <div class="option"></div>
      <div class="option"></div>
      <div class="option"></div>
    </div>
  </div>
  <div class="mbde-slider">
    <div class="mbde-title">
      <h3>Model based data extraction</h3>
      <h4>Spatiotemporal forcings</h4>
    </div>

    <div class="mbde-content">
      <div class="sections-container">
        <div class="section">
          <div class="section-header"></div>
          <div class="section-content"></div>
          <div class="section-content"></div>
        </div>
        <div class="section">
          <div class="section-header"></div>
          <div class="section-content"></div>
          <div class="section-content"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="slide-indicators"></div>
      <div class="buttons">
        <div class="button btn-back">Back</div>
        <div class="button btn-next">Next</div>
      </div>
    </div>
  </div>
</div>
